body {
  
  font-family: 'Reenie Beanie', cursive; /*FONT*/
  margin: 0 auto;
  background: #F3E1B6;
  background-attachment: fixed;
  background-size:100%;
  height: 200px;


}

#header{
  text-align: center;
  height: 150px;
  margin: 0 auto;
  color: #D7B881;
  background-color: #6E3C3E;
  padding-top: 5px;
  padding-bottom: 20px;
}

#navbar{
  margin: 0;
  color: #D7B881;
  background-color: #6E3C3E;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Reenie Beanie', cursive;

}

a:link, a:visited {
    display: block;
    width: 335px;
    font-weight: bolder;
    color: #120D09;
    background-color: #6E3C3E;
    text-align: center;
    padding: 5px;   
}

    a:hover, a:active {
    background-color: #A7795B;
}

li{
  display: inline;
  float: left;
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  display: block;
  width: 300px;
}

p{
  font-size: 18px;
  font-family: cursive;
  font-weight: lighter;

}

#footer{
  color: #F3E1B6;
  text-align: center;
  background-color: #6E3C3E;
  font-weight: bold;
  font-size: 30px
}

#maintext{
  padding-left: 20px;
  padding-right: 20px;
}


div {
  height: 200px;
  width: 600px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
h1 {
  color: #F3E1B6;
  font-family: cursive;
  text-align: center;
  font-size: 52px;
  font-weight: bolder;
}
h2 {
  color: #D7B881;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Reenie Beanie', cursive;
}
p {
  color: white;
  font-family:  cursive;
  background: linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.3));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.3));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.3));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: center;
  bottom: 0;
  margin: 0;
  height: 180px;
  border-radius: 12px;
}
a {
  color: #D7B881;
}

input[type="text"]{
  background: white;
  border: 5px #6E3C3E;
  font-family: 'Reenie Beanie', cursive;
  color: #6E3C3E;
  border-radius: 4px;
}

button {
  background:#F3E1B6;
  color:#6E3C3E;
  font-family: 'Reenie Beanie', cursive;
  border-radius: 5px;
}

.one{
  background-image: url("http://i.imgur.com/dxvC6AF.png?1");
}
.two{
  background-image: url("http://i.imgur.com/5fVlF8Z.png");
}
.three {
  background-image: url("http://i.imgur.com/zOtpIPM.png");
}
.four {
  background-image: url("http://i.imgur.com/3k0X093.png");
}
.five {
  background-image: url("http://i.imgur.com/GUqxtVv.png");
}
.six {
  background-image: url("http://i.imgur.com/Zu7fwZW.png");
}
.seven {
  background-image: url("http://i.imgur.com/eT2qPog.png");
}
.eight {
  background-image: url("http://i.imgur.com/ceKP8Xy.png");
}
.nine {
  background-image: url("http://i.imgur.com/uXrGpFI.png");
}
.ten {
  background-image: url("http://i.imgur.com/oj4sfgh.png");
}
.eleven {
  background-image: url("http://i.imgur.com/aRrE43X.png");
}
.twelve {
  background-image: url("http://i.imgur.com/6oboxXE.png");
}
.thirteen {
  background-image: url("http://i.imgur.com/V4rueX3.png");
}
.fourteen {
  background-image: url("http://i.imgur.com/oYbT1IC.png");
}
.fifteen {
  background-image: url("http://i.imgur.com/kgnbHw5.png");
}
.sixteen {
  background-image: url("http://i.imgur.com/tuayorI.png");
  
}

.address {
  float: right;
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 10px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
}